language: php

services:
  - mongodb

php:
  - 7.0
  - 7.1

before_install:
  - composer self-update
  - phpenv config-add tests/php-travis.ini

install:
  - composer install --no-interaction --prefer-source

script:
  - phpunit