language: php

sudo: required

services:
- docker

php:
  - 7.1
  - 7.2
  - nightly

before_install:
  - cd tests
  - docker-compose up -d
  - cd ..
  - composer self-update
  - sudo apt-get install -y -qq libssh2-1-dev libssh2-php
  - phpenv config-add tests/php-travis.ini

install:
  - composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash) -f coverage.xml